extends layout
block content
    #title(style="display:none;padding-top:2cm;")
        h1.text-center(style="font-family: 'Pacifico', cursive;color:#2980b9;") Welcome to On Diversity!
        
        
        //- Nav tabs
        //- ul.nav.nav-tabs(role='tablist')
        //-     li.nav-item
        //-         a.nav-link.show.active(data-toggle='tab', href='#login', role='tab') Login
        //-     li.nav-item
        //-         a.nav-link(data-toggle='tab', href='#register', role='tab') Register
        //- Tab panes
        //- .tab-content
        //-     #login.tab-pane.active(role='tabpanel')
    .col-sm-4.col-sm-offset-4.col-xs-4.col-xs-offset-4
        #login(style="display:none;padding-top:2cm;")
            if !user
                form(action="/login", method="post")
                    .form-group
                        input.form-control(type="email" placeholder="username" name="username")
                    .form-group
                        input.form-control(type="password" placeholder="password" name="password")
                    .form-group    
                        button.btn.btn-primary Login
            else
                .text-center
                    a(href="/input")
                        btn.btn.btn-default Proceed to File Upload
            //- #register.tab-pane(role='tabpanel')
            //-     form(action="/register", method="post")
            //-         .form-group
            //-             input.form-control(type="text" placeholder="username" name="username")
            //-         .form-group
            //-             input.form-control(type="password" placeholder="password" name="password")
            //-         .form-group
            //-             button.btn.btn-primary Register 
block script
    script.
        $('#title').fadeIn('slow',function(){
            $('#login').fadeIn(1000)
        })