extends layout
block content
    .col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
      #step1(style="display:none")
        h4 Step 1: Upload CSV file
        form#my-awesome-dropzone.dropzone(action='/input')
          .dz-message.needsclick
            | DROP csv file here<br>or<br>CLICK to choose file
      #step2(style="display:none;padding-top: 1cm;")
      #step3(style="display:none;padding-top: 1cm;height:600px")
block script
  script(src='/dropzone/dropzone.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/Sortable/1.5.1/Sortable.min.js')
  script.
      //- STEP 1: INPUT CSV file
      $('#step1').fadeIn(1000);
      // "myAwesomeDropzone" is the camelized version of the HTML element's ID
      Dropzone.options.myAwesomeDropzone = {
        //- clickable: '#click-upload',
        paramName: "file", 
        maxFilesize: 2, // MB
        maxFiles: 1,
        acceptedFiles: 'text/csv,.csv',
        accept: function(file, done) {
          done();
        },
        success: function(file, res) {
          //- STEP 2: DEFINE GROUPS *******************************************************
          $('#step2').append('<h4>Step 2: Divide into Groups</h4>').hide().fadeIn(1000);
          $('#step2').append('<div class="form-group row"><label class="col-xs-2 col-form-label">Main Group</label><div class="col-xs-10"><input class="form-control" type="Number" placeholder="Divide into ? groups" id="main-division" min=1 max=10></div></div>').hide().fadeIn(1000);
          $('#step2').append('<div class="form-group row"><label class="col-xs-2 col-form-label">Sub Group (opt)</label><div class="col-xs-10"><input class="form-control" type="Number" placeholder="Divide into ? of subgroup under each main groups" id="sub-division" min=1 max=10></div></div>').hide().fadeIn(1000);
          //- disable mousewheel on a input number field when in focus
          //- (to prevent Cromium browsers change the value when scrolling)
          $('form').on('focus', 'input[type=number]', function (e) {
            console.log('meh')
            $(this).on('mousewheel.disableScroll', function (e) {
              e.preventDefault()
            })
          })
          $('form').on('blur', 'input[type=number]', function (e) {
            console.log('meh2')
            $(this).off('mousewheel.disableScroll')
          })
          
        
          
          //- $('.add-group').on('click', function(){
          //-   var groupCount = $('.row').length;
          //-   if(groupCount === 1) {
          //-     $('.add-group').attr('disabled', true);
          //-     addGroup();
          //-   }
          //-   else if(groupCount === 0){
          //-     $('.remove-group').attr('disabled', false);
          //-     addGroup()
          //-   };
          //- })
          //- $('.remove-group').on('click', function(){
          //-   var groupCount = $('.row').length;
          //-   $('.form-group').last().fadeOut(300, function(){
          //-     $('.form-group').last().remove();
          //-   })
          //-   //- check and disable remove group btn
          //-   if (groupCount === 2){
          //-     $('.add-group').attr('disabled', false);
          //-   }
          //-   else if (groupCount === 0){
          //-     $('.remove-group').attr('disabled', true);
          //-   }
          //- })
          //- STEP 3: SELECT ATTRIBUTE ORDER  *********************************************
          //- insert all the attribute into html list
          var str = '<h4>Step 3: Define Sorting Criteria (Drag & Drop to reorder)</h4><ul id="sortables" class="list-group">';
          for(i=0;i<res.length;i++){
             str += '<li class="list-group-item">' + res[i] + '<button type="button" class="close" aria-label="Close"><span aria-hidden="true" class="js-remove">&times;</span></button></li>';
          }
          str += '</ul><button type="button" class="btn btn-default" id="submit">Submit and Analyze!</button><p class="loader" style="display:none"></p>';
          document.getElementById('step3').innerHTML = str;

          //- *****************************************************************************

          //- create sortable function
          var el = document.getElementById('sortables');
          var sortable = Sortable.create(el, {
            filter: ".js-remove",
            onFilter: function (evt) {
              var item = evt.item,
              ctrl = evt.target;
              if (Sortable.utils.is(ctrl, ".js-remove")) {
                item.parentNode.removeChild(item);
              }
            }
          });
          $('#submit').on('click', function(){
            if(!$('#main-division').val()){
              alert('Please type in how many main groups you want!')
            }
            else {
              var optionTexts = [];
              var groupNames = [];
              var groupNums = [];
              //- remove button and show spinning stuff
              $('#submit').css('display', 'none');
              $('.loader').css('display', 'block');
              $(".list-group-item").each(function() { optionTexts.push($(this).text().replace('×', '')) });
              //- $("input[type='text']").each(function() { groupNames.push($(this).val()) });
              $("input[type='number']").each(function() { groupNums.push($(this).val()) });
              var result = {
                order: JSON.stringify(optionTexts),
                //- groupNames: JSON.stringify(groupNames),
                groupNums: JSON.stringify(groupNums)
              }
              //- console.log(optionTexts);
              $.post('/calculation', result, function(res){
                window.location.href = "/output?sub=" + groupNums[0]
              });

            }
            
          })
          $('#step2').fadeIn('slow',function(){
            $('#step3').fadeIn(1000)
          })
        }
      };