extends layout
block content
    #title(style="display:none;padding-top:2cm;")
        h1.text-center(style="font-family: 'Pacifico', cursive;color:#2980b9;font-size:50px") It's Done, here you go!
    .col-sm-4.col-sm-offset-4.col-xs-4.col-xs-offset-4.text-center#download(style="display:none;padding-top:2cm;")
        a(href="/download" download)
            button.btn.btn-default Download!
block script
    script.
        $('#title').fadeIn('slow',function(){
            $('#download').fadeIn(1000)
        })